bs4
chromadb
datasets
faiss-gpu-cu12
fastapi
huggingface-hub
langchain
langchain-chroma
langchain-community
langchain-huggingface
langserve==0.3.0dev2
ollama
pymupdf
pypdf
sentence-transformers
sse_starlette
transformers
uvicorn